

<header class="header p-4 mb-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <a href="index.html" class="logo">
          <img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fkheaderlogo_exploreplus-44005d.svg" 
            alt="Logo" title="Logo">
        </a>
      </div>
      <div class="col-md-4 text-right">
        <ul>
          <li class="mr-3">
            <a href="javascript:;"><i class="far fa-user mr-2"></i>Login</a>
          </li>

          <li>
            <a href="javascript:;"><i class="fas fa-shopping-cart mr-2"></i>Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <app-mobile></app-mobile>
</div>