
.header{
    background-color: lightsteelblue;
}

.logo{
    display: inline-block;
    width: 200px;

    img{
        width: 100%;
    }
}

ul li {
    display: inline-block;
}

ul li a{
    text-decoration: none;
    font-size: 25px;
    color: blue;
}