/* You can add global styles to this file, and also import other style files */

body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQC3daVyKFDJ_dZ_nstDBoDi1ZaxUM7-I25mA&s');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}